.pageHeader{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: $backColor;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 2%;
    margin-left: 350px; 
}

h2 {
    color: $h2;
}

h4 {
    color: $h4;
    padding: 3%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif

}
